/* layout */
.container, .noInput {
  display: none;
}
body {
  background-image: url('../img/robo.jpeg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
.jumbotron {
  background-color: rgba(255, 255, 255, 0.755);
}
.row {
  margin: 10px 0;
}
#robo {
  background-color: rgba(0, 0, 0, 0.672);
  margin: 10px;
  color: white;
  padding-left: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
}
#user {
  background-color: rgba(0, 0, 0, 0.672);
  margin: 10px 20%;
  color: white;
  padding-left: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: black;
  height: 5vh;
  color: white;
  padding:1vh 1vw;
}
input {
  display: block;
  margin-top:-10px;
}
button {
  margin-top: 10px;
  margin-bottom: -40px;
}
.roboInput, .intro {
  width: 80%;
  margin: auto;
}
.roboInput {
  margin-left: 20%;
}
/* text style */
li {
  list-style: none;
}
#user li {
  font-size: 300%;
}
#robo li {
  font-size: 160%;
}
h1 {
  font-weight: bolder;
}
.name {
  color: black;
  background-color: white;
  font-weight: bolder;
}
.row h1 {
  color: white;
}
/* .jumbotron p {
  width: 50%;
} */
.jumbotron h1 {
  color: black;
}
